body {
    background-color: #f6f5f5;
    margin: 0px;
    padding: 0px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

section {
    width: 100%;
    height: 95vh;
    background-image: url(leone-venter-VieM9BdZKFo-unsplash.jpg);
    /* background-image: url(1455.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: rgb(238, 231, 231);
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.2);
    padding: 0 5px;
    scroll-behavior: smooth;
    /* position: fixed;
    width: 100%; */
}

nav ul {
    display: flex;
}

nav ul li a {
    margin: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #000000;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 4px;
}

.logo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: hsla(0, 3%, 76%, 0.979);
    font-size: 22px;
    letter-spacing: 9px;
    padding: 25px;
    text-shadow: 1px 1px 1px rgb(165, 165, 164), 1px 2px 1px rgb(165, 165, 164), 1px 3px 1px rgb(165, 165, 164), 1px 4px 1px rgb(165, 165, 164), 1px 5px 1px rgb(165, 165, 164), 1px 6px 1px rgb(165, 165, 164)
}

.active {
    font-weight: bold;
    color: #2d2a2a;
}

.text_container p:nth-child(1) {
    font-family: Verdana;
    font-weight: bold;
    color: #b8b8b8;
    font-size: 25px;
}

.text_container p:nth-child(2) {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    color: #1a1a1a;
    font-size: 60px;
}

.text_container p:nth-child(3) {
    font-family: 'Courier New', Courier, monospace;
    color: #403e3e;
    font-size: 30px;
}

.text_container p {
    line-height: 10px;
    margin: 40px 0px 25px;
}

.text_container {
    position: absolute;
    left: 13%;
    top: 42%;
    transform: translate(-13%, -42%);
}

.text_container button {
    width: 130px;
    height: 42px;
    border-radius: 12px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 14px;
    outline: none;
    margin: 0px 10px;
}

.hire_btn {
    border: 2px solid #373636;
    color: #373636;
}

.down_cv {
    background-color: #0b0b0b;
    color: #ffffff;
    border: none;
}

button:active {
    transform: scale(1.1);
}

button:hover {
    cursor: pointer;
}

.model {
    height: 450px;
    position: absolute;
    bottom: 80px;
    left: 60%;
    transform: translateX(-70%);
    border-radius: 22px;
}

.about {
    width: 80%;
    height: 330px;
    background-color: rgb(218, 212, 212);
    border-radius: 20px;
    box-shadow: 2px 2px 80px rgb(0, 0, 0, 0.2);
    display: flex;
    margin: -7% auto 20px auto;
    position: relative;
}

.about_text p:nth-child(1) {
    padding-left: 40px;
    font-size: 2em;
    background-color: rgb(233, 227, 227);
    display: inline-block;
    position: relative;
    width: 200px;
    color: #000000;
    border-radius: 8px;
    /* box-shadow: 5px 8px rgba(0, 0, 0, 0.2); */
    border-top: 2px solid black;
    border-left: 2px solid black;
    margin: -20px;
    letter-spacing: 3px;
}

.about_text p:nth-child(2) {
    font-size: 2em;
    margin-left: 30px;
}

.about_text p:nth-child(3) {
    font-size: 20px;
    margin-left: 30px;
}

.about_text p:nth-child(4) {
    font-size: 20px;
    margin-left: 30px;
}

.about_text p:nth-child(5) {
    font-size: 25px;
    padding: 0px;
    margin-left: 300px;
    margin-bottom: 15px;
}

.about_text button {
    width: 130px;
    height: 35px;
    margin-left: 450px;
    border-radius: 12px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 20px;
    background-color: #000000;
    color: #eee7e7;
    outline: none;
}

.services {
    height: 600px;
    width: 1050px;
    margin: 50px 15px;
    background-color: #ffffff;
    padding: 2% 10% 0% 10%;
}

.services_text p:nth-child(1) {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #3e3d3e;
    font-size: 30px;
    line-height: 0px;
}

.services_text p:nth-child(2) {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #3e3d3e;
    font-size: 15px;
    line-height: 5px;
}

.services_text p:nth-child(3) {
    font-family: Arial, Helvetica, sans-serif;
    color: #3e3d3e;
}

.box_1,
.box_2,
.box_3 {
    width: 300px;
    height: 320px;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box_container {
    display: flex;
    justify-content: space-between;
}

.box_1 {
    background-image: url(1455.jpg);
}

.box_2 {
    background-image: url(hao-wang-pVq6YhmDPtk-unsplash.jpg);
}

.box_3 {
    background-image: url(edited2\ copy.jpg);
}

.box_1 span,
.box_2 span,
.box_3 span {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    /* color: #b8b8b8; */
}

.box_1 p,
.box_2 p,
.box_3 p {
    color: #f6f5f5;
}